@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@font-face {
  font-family: 'Tiffany Script';
  src: url('../images/TiffanyScript.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: acier-bat-noir, sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #e8eaec;
}

.Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

/* Load more */
.load {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.load button {
  cursor: pointer;
  color: #fff;
  background: black;
  border: none;
  padding: 10px 75px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.load-disabled {
  display: none;
}
